
{% extends "base.html" %}
{% load static %}
{% block content %}


<!--<div class="about">-->
  <!--<div class="container">-->
    <!--<div class="row">
      <div class="col-sm-5" style="padding: 20px 20px;">
        <div class="img-wrapp">
          <img src="/static/img/room.jpg" style="width: 35rem;" alt="">
        </div>
      </div>
      <div class="tt">
      <div class="col-sm-7" style="margin-left: 10px;">
        <h2 class="text-center">About Us</h2>
        <p>Lorem ipsum dolor sit amet ast hin rtd bue mngyuossnns ftewway gbvmityen fguyrte gavrtb huyrt bvgtfy njuty duayretnndhfufiif gfuyrteb bopotr  consectetur adipisicing elit. Veniam id nesciunt corrupti similique aspernatur voluptate officiis quas tempora quidem dolorem! Blanditiis tempora ex molestiae vitae nihil culpa! Earum, quod harum!</p>
         <p>Long Text In.accdb files, the Long Text field works the same as the Memo field of old. That is, it can store up to about a gigabyte of text, even though controls on forms and reports can only display the first 64,000 characters. You can set Long Text fields to display Rich Text, which includes formatting like bold and underline.</p>
      </div>
      </div>
    </div>
  </div>-->










<div class="wrapper">
  <div class="section">
   
    <div class="image-section">
      <img src="/static/img/oi.jpg" alt="">
    </div>
    <div class="left-section">
      <div class="content">
        <div class="title">
          <h2>About Us</h2>
          <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum, ut mollitia. Neque fugit animi quisquam vitae esse, dolorem natus praesentium sunt repellendus illo vel laudantium iure provident non sint quaerat</h3>
        </div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab facilis totam eius tempore, culpa minima. Amet assumenda incidunt deserunt pariatur sunt soluta, quasi aperiam sed nulla voluptates doloribus deleniti architecto.</p>
        <!--<div class="button">
          <a href="">Read More</a>
        </div>-->
        <div class="social">
          <a href=""><i class="fab fa-facebook-f"></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
          <a href=""><i class="fab fa-pinterest"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>






  
{% endblock content %}





