{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base</title>

<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
 <!--materialize-->
 

 
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
 <!--custom css-->
  <link rel="stylesheet" type="text/css"  href="{% static 'css_materialize/styling.css' %} ">

</head>
<body>
    

    <section class="fnavbar">
        <nav class="nav-fixed">
          <div class="nav-wrapper">
            <a href="{% url 'info:home' %}" class="brand-logo">SportsLight</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
              <i class="material-icons">menu</i></a>
             
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="{% url 'info:home' %}" onclick="toggleModal();">Home</a></li>
              <li><a href="{% url 'info:about' %}" onclick="toggleModal();">About Us</a></li>
              <li><a href="{% url 'info:training' %}" onclick="toggleModal();">Image Galary</a></li>
              <li><a href="{% url 'info:matches' %}" onclick="toggleModal();" >Matches</a></li>
          
              <li><a href="{% url 'info:contact' %}" onclick="toggleModal();">Contact Us</a></li>
              <li><a href="{% url 'info:services' %}" onclick="toggleModal();" >Services</a></li>


              <!--<li><a href="{% url 'info:registration' %}" onclick="toggleModal();" >Player's Info</a></li>-->
              {% if user.is_authenticated %}
              <li><a href="{% url 'info:players_info' %}" onclick="toggleModal();" > Players Info</a></li>
              {% else %}
              <li><a href="{% url 'info:registration' %}" onclick="toggleModal();" >Register</a></li>
              {% endif %}
            </ul>
          </div>
        </nav>
      
        <ul class="sidenav" id="mobile-demo">
          <li><a href="{% url 'info:home' %}" onclick="toggleModal();">Home</a></li>
              <li><a href="{% url 'info:about' %}" onclick="toggleModal();">About Us</a></li>
              <li><a href="{% url 'info:training' %}" onclick="toggleModal();">Image Galary</a></li>
              <li><a href="{% url 'info:matches' %}" onclick="toggleModal();" >Matches</a></li>
          
              <li><a href="{% url 'info:contact' %}" onclick="toggleModal();">Contact Us</a></li>
              <li><a href="{% url 'info:contact' %}" onclick="toggleModal();" >Services</a></li>
           

              {% if user.is_authenticated %}
              <li><a href="{% url 'info:players_info' %}" onclick="toggleModal();" > Players Info</a></li>
              {% else %}
              <li><a href="{% url 'info:registration' %}" onclick="toggleModal();" >Register</a></li>
              {% endif %}
            </ul>
           
       </section>
    

       

     
 <!--slider section-->
 <section class="fslider">
    <div class="slider">
      <ul class="slides">
        <li>
          <img src="{% static 'img/staduim7.jpg' %}" alt="image one">
          <div class="caption center-align white-text white-text">
            <h3>Football made easy</h3>
            <h5 class="light text-lighten-3">Get started today and secure your carrier</h5>
          </div>
        </li>
        <li>
         <img src="{% static 'img/staduim8.jpg' %}" alt="image one">
         <div class="caption center-align white-text white-text">
           <h3>Think of better tomorrow ,think of SportsLight</h3>
           <h5 class="light text-lighten-3">Best training academy in the world</h5>
         </div>
       </li>
      </ul>
    </div>
  </section>


{% block content %}
{% endblock content %}

<!--<section class="description">
       <div class="section white center">
         <h2 class="header">Our products our pride!</h2>
         <div class="row container center">
           
           <div class="col center l4 s12">
             <img src="{% static 'img/ny.jpeg' %}" style="object-fit: contain;" height="200" width="auto" alt="grid-image">
           </div>
           <div class="col center l8 s12 move">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum voluptates doloribus, odio sed itaque totam praesentium ipsam harum quo a porro molestiae quidem accusantium quis explicabo nostrum excepturi beatae aliquid maiores, ab ad unde? Quis asperiores tenetur veritatis corrupti sed quam, animi accusantium delectus odio. Provident assumenda dolor nihil sunt! </p>   
              </div>
              
         </div>
       </div>
     </section>-->

     <!--parallax-->
     <section class="fparallax">
        <div class="parallax-container">
          <div class="parallax"><img src="{% static 'img/mis3.jpg' %}">
        <p>hello</p></div>
        </div>
       </section>


     <!--<section class="fabout">
        <div class="section white center">
          <div class="row container">
            <h2 class="header">About Us</h2>  
          </div>
            <p class="grey-text text-darken-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem non provident dolorum maxime cum, voluptatibus facilis dolores perspiciatis beatae repellat vero nam asperiores quaerat, molestiae veritatis inventore consequatur officiis quam rerum ut assumenda reiciendis. Pariatur corrupti exercitationem tenetur quod quis blanditiis perspiciatis eos dolor necessitatibus, sed id eaque commodi illo.
            </p>
            <a href="#" style="background: #6f4037 !important;" class="btn waves-effect waves-light">Read More</a>
 
          
        </div>
      </section>-->

       
     <section class="fservices">
        <div class="row" style="padding-left: 50px; padding-right: 50px;">
         <div class="col s12 l4 center" style="padding: 50px;">
             <i class="large material-icons icon-coffee">local_dining</i>
             <h5 class="header">Variety Of Sports </h5>
         </div>
         <div class="col s12 l4 center" style="padding: 50px;">
        <i class="large material-icons icon-coffee">watch_later</i>
        <h5 class="header">Variety Of Sports </h5>
        </div>
 
         <div class="col s12 l4 center" style="padding: 50px;">
        <i class="large material-icons icon-coffee">favorites</i>
        <h5 class="header">Variety Of Sports </h5>
        </div>
        </div>
      </section>

<!--reviews-->
<section class="freviews">
    <div class=" section white center">
        <h3 class="header">Customers Reviews</h3>
        <div class="carousel myreviews" style="margin-bottom: 30px;">
            <a href="#" class="carousel-item">
                <div class="row">
                    <div class="col s12">
                        <div class="card-panel teal" style="background-color: #6f4037 !important;">
                            <span class="white-text">One Review</span>
                            <p class="white-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui quasi debitis itaque, molestias, suscipit, aspernatur perferendis dignissimos necessitatibus sed corporis in! Exercitationem voluptatibus facere esse illum facilis quia repudiandae minus!</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="carousel-item">
                <div class="row">
                    <div class="col s12">
                        <div class="card-panel teal" style="background-color: #6f4037 !important;">
                            <span class="white-text">Three Review</span>
                            <p class="white-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui quasi debitis itaque, molestias, suscipit, aspernatur perferendis dignissimos necessitatibus sed corporis in! Exercitationem voluptatibus facere esse illum facilis quia repudiandae minus!</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="carousel-item">
                <div class="row">
                    <div class="col s12">
                        <div class="card-panel teal" style="background-color: #6f4037 !important;">
                            <span class="white-text">Four Review</span>
                            <p class="white-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui quasi debitis itaque, molestias, suscipit, aspernatur perferendis dignissimos necessitatibus sed corporis in! Exercitationem voluptatibus facere esse illum facilis quia repudiandae minus!</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="carousel-item">
                <div class="row">
                    <div class="col s12">
                        <div class="card-panel teal" style="background-color: #6f4037 !important;">
                            <span class="white-text">Five Review</span>
                            <p class="white-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui quasi debitis itaque, molestias, suscipit, aspernatur perferendis dignissimos necessitatibus sed corporis in! Exercitationem voluptatibus facere esse illum facilis quia repudiandae minus!</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="carousel-item">
                <div class="row">
                    <div class="col s12">
                        <div class="card-panel teal" style="background-color: #6f4037 !important;">
                            <span class="white-text">six Review</span>
                            <p class="white-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui quasi debitis itaque, molestias, suscipit, aspernatur perferendis dignissimos necessitatibus sed corporis in! Exercitationem voluptatibus facere esse illum facilis quia repudiandae minus!</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="carousel-item">
                <div class="row">
                    <div class="col s12">
                        <div class="card-panel teal" style="background-color: #6f4037 !important;">
                            <span class="white-text">One Review</span>
                            <p class="white-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui quasi debitis itaque, molestias, suscipit, aspernatur perferendis dignissimos necessitatibus sed corporis in! Exercitationem voluptatibus facere esse illum facilis quia repudiandae minus!</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="carousel-item">
                <div class="row">
                    <div class="col s12">
                        <div class="card-panel teal" style="background-color: #6f4037 !important;">
                            <span class="white-text">One Review</span>
                            <p class="white-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui quasi debitis itaque, molestias, suscipit, aspernatur perferendis dignissimos necessitatibus sed corporis in! Exercitationem voluptatibus facere esse illum facilis quia repudiandae minus!</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>



  

</body>






<!--jquery-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"  crossorigin="anonymous"></script>
  <!-- Compiled and minified JavaScript -->
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script src="{% static 'js_materialize/loader.js' %}"></script>
 </html>




{% include 'footer.html'%}




