    {% extends 'base.html' %}
    {% load static %}   
    {% block content %}
    
   
   

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<!--<link href="/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<!-- Favicons -->
<link rel="apple-touch-icon" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">

    <!--<link href="album.css" rel="stylesheet">-->
    
    <style>

        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
      
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>




      <!-- Custom styles for this template -->
      <!--<link href="album.css" rel="stylesheet">-->



      

        <div class="full-width light part-item-set">
            <section style="margin-top: 70px;">
                <h2 style="text-align: center;"> Team News</h2>
                <div class="flex-container">
                    {% for item  in train %}
                    <a href="#">
                    <div class="card" style="width: 18rem; height: 30rem;">
                        <img src="{{ item.img.url }}" class="card-img-top" alt="...">
                        <div class="card-body" style="background: #fff;">
                            <span>author:{{ item.author }} </span>

                            <small style="text-align: right;">date :{{ item.date_posted }}</small>
                         
                          <h5><a class="card-title" href="{% url 'info:detail' item.id %}" style="color: #0008; font-size: medium; font-size: x-large;">{{ item.title }}</h5>
                         
                        
                            
                             <!--<small>Trainer/Coach : {{ blog.trainer }}</small><br>-->
                        
                          <!--<a href="" class="cta">Learn more <i class="fal fa-angle-right" aria-hidden="true"></i></a>-->
                          <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                        </div>
                      </div>
                    </a>
                      {% endfor %}
                     </div>
            </section>


                <div class="full-width dark part-featured-slider">
                    <div class="row contained align-middle">
                    <div class="small-12 medium-6 columns large-6 columns featured-slider-content">
                       <div class="slick-silder image-slider slick-initialized slick-slider">
                        <!-- <button class="slick-prev slick-arrow" aria-label="Previous"
                          type="button" style="">Previous</button>-->
                          <div class="slick-list draggable">
                            <div class="slick-track" style="opacity: 1; width: 4212px; transform: translate3d(-1872px, 0px, 0px);">
                              <div class="slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" 
                              tabindex="-1" style="width: 468px;">
                              <div>
                                <img src="" alt="" style="width: 100%; display: inline-block;">
                              </div>
                            </div>
                            <div class="slick-slide" data-slick-index="0" aria-hidden="true" 
                            style="width: 468px;" tabindex="-1">
                            <div>
                              <img src="" alt="" 
                              style="width: 100%; display: inline-block;">
                            </div>
                          </div>
                          <div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 468px;" tabindex="-1">
                            <div>
                              <img src="" alt="" 
                              style="width: 100%; display: inline-block;">
                            </div>
                          </div>
                          <div class="slick-slide" data-slick-index="2" aria-hidden="true" 
                          style="width: 468px;" tabindex="-1">
                          <div>
                            <img src="" alt=""
                             style="width: 100%; display: inline-block;">
                            </div>
                          </div>
                          <div class="slick-slide slick-current slick-active" data-slick-index="3" aria-hidden="false" style="width: 468px;">
                            <div style="padding-left: 50px;"><img src="{% static 'img/footballer1.jpg' %}" alt="" style="width: 100%; display: inline-block; height: 400px;">
                            </div>
                          </div>
                          
                      </div>
                    </div>
                    <!--<button class="slick-next slick-arrow" aria-label="Next" type="button" style="">Next</button>-->
                  </div>
                    </div>
                    <div class="small-12 medium-6 large-5 large-offset-1 columns featured-slider-content">
                       <h2>Our Campus</h2>
                                <h3>Train, Think and Recover in Elite Environments</h3>
                                <div class="message"><p class="p1">Sports Academy is a 100,000 square-foot facility that houses five basketball courts, five volleyball courts, two beach volleyball courts, a turf field, combatives and self-defense dojo, a comprehensive sports medicine practice for medical therapy and rehabilitation, a biomechanics lab, a world-class cognitive training lab, an e-sports training ground, batting cages and pitching mounds, a mondo sprint track, a learning center for academic tutoring and training, and a yoga/cycling studio.</p>
                  </div>
                             </div>
                  </div>
                  
                  <div class="reg" style="text-align: center;">
                    <!--<button style="padding-right: 50px;">Register for free</button>-->
                    <a id="myDiv" href="{% url 'info:registration' %}"><h2> join us today !</h2></a>
                   
                  </div>
                  </div> 
              

<!-- we are here-->

         
<div class="album py-5 bg">
  <div class="container">
    <h2 style="text-align: center;">Training news</h2>
    <div class="row">
        {% for item in post %}
      <div class="col-md-3">
        <div class="card mb-3 shadow-sm">
          <img src="{{ item.img.url }}" width="100%" height="225" alt="">
          <!--<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
          <div class="card-body" style="height: 150px;">
               <h5><a style="color: #0008; font-size: medium;"  href="{% url 'info:news_detail' item.id %}">{{ item.title }}</a></h5>
         
               
     
            <p class="card-text" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{ item.content |truncatewords:15}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <!--<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
     
    </div>
  </div>
  </div>
 
  
<section class="team">
    <div class="container">
        <h1>meet our coaches</h1>
        <div class="row">
          {% for coach in coach %}
            <div class="col-md-3 profile text-center">
                <div class="img-box">
                    <img src="{{ coach.img.url }}" alt="" class="ima-responsive" width="100%" height="225">
                    <ul class="soc">
                        <a href="https://www.facebook.com/nuel.edward"><li><i class="fab fa-facebook-f"></i></li></a>
                        <a href=""><li><i class="fab fa-twitter"></i></li></a>
                        <a href=""><li><i class="fab fa-instagram"></i></li></a>
                        <a href=""><li><i class="fab fa-pinterest"></i></li></a>
                    </ul>
                </div>
                <h2>{{ coach.name }}</h2>
                <h3>{{ coach.position }}</h3>
                <p>{{ coach.about }}</p>
            </div>
            {% endfor %}
            <!--<div class="col-md-3 profile text-center">
                <div class="img-box">
                    <img src="/static/img/ms.jpg" alt="" class="ima-responsive" width="100%" height="225">
                    <ul class="soc">
                        <a href="#"><li><i class="fab fa-facebook-f"></i></li></a>
                        <a href=""><li><i class="fab fa-twitter"></i></li></a>
                        <a href=""><li><i class="fab fa-instagram"></i></li></a>
                        <a href=""><li><i class="fab fa-pinterest"></i></li></a>
                    </ul>
                </div>
                <h2>nuel edward</h2>
                <h3>founder /ceo</h3>
                <p>Lorem ipsum doi sitatque autem consequatur repudiandae officiis ratione!</p>
            </div>
            <div class="col-md-3 profile text-center">
                <div class="img-box">
                    <img src="/static/img/mo.jpg" alt="" class="ima-responsive" width="100%" height="225">
                    <ul >
                        <a href="#"><li><i class="fab fa-facebook-f"></i></li></a>
                        <a href=""><li><i class="fab fa-twitter"></i></li></a>
                        <a href=""><li><i class="fab fa-instagram"></i></li></a>
                        <a href=""><li><i class="fab fa-pinterest"></i></li></a>
                    </ul>
                </div>
                <h2>nuel edward</h2>
                <h3>founder /ceo</h3>
                <p>Lorem ipsum doi sitatque autem consequatur repudiandae officiis ratione!</p>
            </div>
            <div class="col-md-3 profile text-center">
                <div class="img-box">
                    <img src="/static/img/rs.jpg" alt="" class="ima-responsive" width="100%" height="225">
                    <ul>
                        <a href="#"><li><i class="fab fa-facebook-f"></i></li></a>
                        <a href=""><li><i class="fab fa-twitter"></i></li></a>
                        <a href=""><li><i class="fab fa-instagram"></i></li></a>
                        <a href=""><li><i class="fab fa-pinterest"></i></li></a>
                    </ul>
                </div>
                <h2>nuel edward</h2>
                <h3>founder /ceo</h3>
                <p>Lorem ipsum doi sitatque autem consequatur repudiandae officiis ratione!</p>
            </div>-->
        </div>
    </div>

</section>





</div>
       <!--some fixture-->
      







{% endblock content %}

