
{% extends "base.html" %}
{% block content %}
  
     
      
       
<article class="media content-section post-content">
    <div class="content-mission">
        <div class="mission-wrapper">

            <div class="mission-info">
                <h2>STUDENTS life</h2>
            <p>Student life at the Academy</p>
            </div>
            <div class="container">
                <div class="mission-statement">
                    <p>Our football coaching includes specialist outfield and goalkeeping sessions, strength and conditioning training and nutritional advice. We help players on their journey, preparing them for the modern game as well as providing opportunities to be seen by the professional football clubs.
    
                        The International Football Academy offer a wide range of football opportunities ranging from a single trials showcase match to a full-time football programme.</p>
                    <p>Our aim is to equip our students for life after the Academy so wherever they go, whether it be a life at University or a Football club, they will be able to easily adapt. Academy staff all have the same aim, that is to give our students a great experience., whether that be on the football field, college life or just by becoming a young man enjoying life and making lifelong friends from all around the world.
                    </p>
                    <p>His mission is to help you find the right opportunity and create a job application that gets you the career you deserve.</p>
    
             
                    <h1>Work Hard – Dream Big – Never Give Up</h1>
                </div>
                
                <div class="mission-img">
                    <img src="../static/img/mis2.jpg"  alt=" Not Found">
                    
                </div>

            </div>
       
            
        </div>
       
        </div>

</article>
   
{% endblock content %}


<!-- here-->


