{% extends 'base.html' %}
{% load static %}   
{% block content %}


<form action="{% url 'info:search' %}" method="GET" class="form-inline my-2 my-lg-0">
  <br>
  <input type="search" name="search" id="search" placeholder="player's name" class="form-control mr-sm-2"
  aria-label="search">
  <button type="submit" class="minbtn" >Search For A Player</button>
</form>
<section style="margin-top: 30px;" class="players">
    <h2 style="text-align: center;">Players Details</h2>
    <div class="flex-container">
        {% for player in footballers %}
        <a href="#">
        <div class="card" style="width: 18rem; height: 30rem;">
            <img src="{{ player.image.url }}" class="card-img-top" alt="..." style="height: 14rem;">
            <div class="card-body" style="background: #fff; height: 1.5rem;">
              

                <h5 style="text-align: left;">First Name :{{ player.first_name }}</h5>
             
              <h5 style="text-align: left;"> Last Name:{{ player.last_name }}</h5>
              <p class="card-text">Address:{{ player.address }} </p>
              <p class="card-text"> Phone:{{ player.phone }} </p>
               
                <p class="card-text">Playing position:{{ player.position }} </p>
                <p class="card-text">Email :{{ player.email }} </p>   
                
                 <!--<small>Trainer/Coach : {{ blog.trainer }}</small><br>-->
            
              <!--<a href="" class="cta">Learn more <i class="fal fa-angle-right" aria-hidden="true"></i></a>-->
              <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
          </div>
        </a>
          {% endfor %}
         </div>
</section>

{% endblock %}

