

{% extends "base.html" %}
{% load static %}
{% block content %}




    <div class="heading">
        <h2>Our Services</h2>
    </div>
    <div class="service">
       
        <div class="cen">
            <div class="servic">
                <i class="fas fa-futbol"></i>
                <h2>Training</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt veniam laudantium voluptatum soluta odio iste omnis quasi iure, enim nam? Voluptates, nam! Explicabo dolore impedit officia ex, exercitationem deserunt. Aliquam.</p>
            </div>
            <div class="servic">
                <i class="fas fa-expand-arrows-alt"></i>
                <h2>Mentaorship</h2>
           <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt veniam laudantium voluptatum soluta odio iste omnis quasi iure, enim nam? Voluptates, nam! Explicabo dolore impedit officia ex, exercitationem deserunt. Aliquam.</p>
           </div>
           <div class="servic">
            <i class="far fa-futbol"></i>
            <h2>Footballer Agency</h2>
       <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt veniam laudantium voluptatum soluta odio iste omnis quasi iure, enim nam? Voluptates, nam! Explicabo dolore impedit officia ex, exercitationem deserunt. Aliquam.</p>
       </div>
       <div class="servic">
        <i class="fas fa-search-dollar"></i>
        <h2>Scouting</h2>
   <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt veniam laudantium voluptatum soluta odio iste omnis quasi iure, enim nam? Voluptates, nam! Explicabo dolore impedit officia ex, exercitationem deserunt. Aliquam.</p>
   </div>
   <div class="servic">
    <i class="far fa-handshake"></i>
    <h2>Players management</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt veniam laudantium voluptatum soluta odio iste omnis quasi iure, enim nam? Voluptates, nam! Explicabo dolore impedit officia ex, exercitationem deserunt. Aliquam.</p>
</div>
<div class="servic">
    <i class="fas fa-user-secret"></i>
    <h2>Coaching</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt veniam laudantium voluptatum soluta odio iste omnis quasi iure, enim nam? Voluptates, nam! Explicabo dolore impedit officia ex, exercitationem deserunt. Aliquam.</p>
</div>
<div class="servic">
  
    <i class="fas fa-comment-dollar"></i>
    <h2>Players Marketing</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt veniam laudantium voluptatum soluta odio iste omnis quasi iure, enim nam? Voluptates, nam! Explicabo dolore impedit officia ex, exercitationem deserunt. Aliquam.</p>
</div>
        </div>
    </div>
{% endblock %}


